#title, #description {
    text-align: center;
    color:azure;
}

body {
    background-color: #245B47;
    color: azure;
}

fieldset {
    background-color: #223546;
    max-width: 500px;
    margin: auto;
    border: none;
}

input {
    display: block;
    width: 100%;
    background-color: #192733;
    border: 1px solid #223546;
    color: azure;
}
.inline {
    display: inline;
    width: unset;
    vertical-align: middle;
}

